body {
    background: #3332;
}
.container{
    margin-top: 15px;
}
.button-action{
    text-align: center;
}
.container > .row > .table tr.active th,
.container > .row > .table tr.active td {
  background-color:#123456;
  color: white;
  font-weight: bold;
}